<% layout('layout/boilerplate.ejs') %>
<style>
  
 td{
     border:2px solid white;
     padding: 10px 10px 10px 10px;
 }
 .new{
     display: none;
 }
 @media (max-width:1000px) {
        .button{
            display: none;
        }
    }
</style>

<% if(!event.forms.length){%>
    <h2 class="text-center text-primary mt-5">NO RESPONES TILL NOW</h2>
<%}%>
<% if(event.forms.length){%>
<h1 class="text-center display-2"><%=event.title%></h1>
<div class="container cardFormat">
    <div class="row">
        
        <% for(let form of event.forms){%>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow my-3 mx-3 bg-primary">
                <div class="card-body text-primary">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item  bg-primary text-white"><%=form.username%></li>
                          <li class="list-group-item bg-primary text-white"><%=form.roll%></li>
                          <li class="list-group-item bg-primary text-white"><%=form.email%></li>
                          <li class="list-group-item bg-primary text-white"><%=form.phone%></li>
                          <li class="list-group-item bg-primary text-white"><%=form.department%></li>
                        </ul>
                      </div>
            </div>
        </div>
        <%}%>
    </div>
</div>

<% } %>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12 col-lg-6 offset-lg-3">
<div id="invoice">
    <table class="bg-primary"  >
        <thead>
    <tr class="text-white">
        <td class="text-center">NAME</td>
        <td class="text-center">ROLL NO</td>
        <td class="text-center">EMAIL</td>
        <td class="text-center">MOBILE NO</td>
        <td class="text-center">DEPARTMENT</td>
    </tr>
</thead>
    <% for(let form of event.forms){%>
            <tr class="text-white">
                <td><%=form.username%></td>
                <td><%=form.roll%></td>
                <td><%=form.email%></td>
                <td><%=form.phone%></td>
                <td><%=form.department%></td>
            </tr>
        <%}%>
    </table>
</div>
</div>
</div>
<<<<<<< HEAD
</div>
<% if(event.forms.length){%>


<div class="container button">
    <div class="row">
        <div class="col-6 offset-3 d-flex justify-content-center">
            <button class="btn btn-primary  button my-3"><span id="format">VIEW IN TABLE FORMAT</span> </button>
        </div>
    </div>
</div>
<% } %>

<button id="download">download</button>


<script>
    const name='<%=event.title%>';
    const card =document.querySelector('.cardFormat')
    const btn = document.querySelector('.button')
    const table = document.querySelector('table')
    const format = document.getElementById('format')
    table.classList.add('new')
    btn.addEventListener('click',()=>{
        table.classList.toggle('new')
        card.classList.toggle('new')
        if(format.textContent=="VIEW IN TABLE FORMAT"){
            format.textContent="VIEW IN CARD FORMAT"
        }else if(format.textContent=="VIEW IN CARD FORMAT"){
            format.textContent="VIEW IN TABLE FORMAT"
        }
    })


        window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename:`${name}.pdf`,
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}

function export_data(){
    let data=document.getElementById('register_table');
    var fp=XLSX.utils.table_to_book(data,{sheet:'event'});
    XLSX.write(fp,{
      bookType:'xlsx',
      type:'base64'
    });
    XLSX.writeFile(fp, 'register.xlsx');
  }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js" integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

